In [95]:
import pandas as pd

vid = pd.read_csv('USvideos.csv', usecols=range(2,11))
# drop columns
vid =vid.drop(['category_id', 'publish_time', 'tags'],axis=1)

vid.drop_duplicates(subset=['title'],inplace=True)
vid.to_csv('processes_data.csv', index= False)

(6455, 6)

,title,channel_title,views,likes,dislikes,comment_count
0,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,748374,57527,2966,15954
1,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,2418783,97185,6146,12703

In [96]:
import pandas as pd
vidM = pd.read_csv('processes_data.csv')
vidM.columns[2:6]

Index(['views', 'likes', 'dislikes', 'comment_count'], dtype='object')

In [11]:
number = 903809
print('{:,}'.format(number).replace(',',' '))

903 809